body{
    font-family: Roboto;
    background-color: orange;
}

body a{
    text-decoration: none;
}

h2{
    color: white;
}

.navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 30px;
  height: 70px;
  justify-content: space-evenly;
  background-color: rgba(17, 17, 17, 0.945);
  /* color: white; */
  border-radius: 15px;

}

.navbar-title{
  font-family: Belanosima;
  padding-left: 20px;
  font-size: 25px;
  color: white;
}

.search-bar {
  width: 200px;
  font-size: 16px;
  height: 38px;
  border: none;
  margin-right: 5px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-button {
  position: relative;
  background-color: orange;
  border: none;
  width: 40px;
  height: 38px;
  padding: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  
}

.search-icon {
  mix-blend-mode: color-burn;
  height: 35px;
  object-fit: cover;
  border-radius: 10px;

  /* margin-right: 4px;
  margin-top: 2px; */
}

.header-middle-section{
  display: flex;
  align-items: center;
}


.sign-up{
  background-color: green;
  color: white;
  margin: none;
  padding: 10px;
}
.sign-up:hover{
  cursor: pointer;
}

.msg-div{
  text-align: center;
}
.msg-btn{
  background-color: green;
  color: white;
  width: 200px;
  padding: 10px;
  border: none;
}
.msg-btn:hover{
  cursor: pointer;
}

.orders-link {
  color: white;
}

.returns-text {
  display: block;
  font-size: 13px;
}

.orders-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.header-link {
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
  border: 1px solid white;
}

.cart{
    position: relative;
    height: 40px;
    background-color: orangered;
    color: black;
    padding: 7px;
    font-size: 30px;
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
}



.bi-cart4{
  color: black;
  align-self: center;
}
.cartAmount{
    position: absolute;
    top: -8px;
    right: 0px;
    color: white;
    background-color: rgb(163, 7, 7);
    border-radius: 10px;
    font-size: 20px;
    padding: 1px 2px 1px 2px;

}

/* SIGN UP */
* {box-sizing: border-box}

Full-width input fields
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
/* button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
} */

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

.shop{
    display: grid;
    grid-template-columns: repeat(4, 250px) ;
    gap: 30px;
}

.items{
  background-color: azure;
  height: 435px;
  width: 250px;
  gap: 30px;
  margin: 8px 45px;
  box-shadow: 0 0 20 black;
  border-radius: 9px;

}

.items-image{
    object-fit: cover;
    width: 250px;
    height: 250px;

}

.desc{
    text-align: center;
}

.price-quantity{
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.quantity{
    width: 50px;
    background-color: aqua;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
}

#custom{
    border: none;
    background-color: azure;
}

.remove{
    background-color: red;
    border: none;
}

.add-reset{
    display: flex;
    justify-content: space-around;
}

.add{
    background-color: green;
    border: none;
    
}

.add-btn{
    background-color: orangered;
    color: white;
    font-size: 15px;
    width: 120px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.add-btn:hover{
    color: orangered;
    background-color: white;
}

.reset-btn{
    background-color: rgba(204, 43, 14, 0.562);
    font-size: 15px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.track-package-button{
  background-color: chocolate;
  color: beige;
  border: none;
  padding: 8px 16px;
}
.track-package-button:hover{
  cursor: pointer;
}

@media (max-width: 1000px) {
    .shop{
        grid-template-columns: repeat(3, 250px) ;
    }
}

@media (max-width: 700px) {
    .shop{
        grid-template-columns: repeat(2, 250px) ;
    }
}

@media (max-width: 500px) {
    .shop{
        grid-template-columns: repeat(1, 250px) ;
    }
}

.cartItems{
    text-align: center;
}

/* CART STYLING */

.main {
    max-width: 1100px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 140px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .page-title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 18px;
  }
  
  .checkout-grid {
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 12px;
    align-items: start;
  }
  
  @media (max-width: 1000px) {
    .main {
      max-width: 500px;
    }
  
    .checkout-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .cart-item-container,
  .payment-summary {
    border: 1px solid rgb(222, 222, 222);
    border-radius: 4px;
    padding: 18px;
  }
  
  .cart-item-container {
    margin-bottom: 12px;
  }
  
  .payment-summary {
    padding-bottom: 5px;
  }
  
  @media (max-width: 1000px) {
    .payment-summary {
      grid-row: 1;
      margin-bottom: 12px;
    }
  }
  
  .delivery-date {
    color: rgb(0, 118, 0);
    font-weight: 700;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 22px;
  }
  
  .cart-item-details-grid {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    column-gap: 25px;
  }
  
  @media (max-width: 1000px) {
    .cart-item-details-grid {
      grid-template-columns: 100px 1fr;
      row-gap: 30px;
    }
  }
  
  .product-image {
    max-width: 100%;
    max-height: 120px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .product-name {
    font-weight: 700;
    margin-bottom: 8px;
  }
  
  .product-price {
    color: rgb(177, 39, 4);
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .product-quantity .link-primary {
    margin-left: 3px;
  }
  
  @media (max-width: 1000px) {
    .delivery-options {
      grid-column: 1 / span 2;
    }
  }
  
  .delivery-options-title {
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .delivery-option {
    display: grid;
    grid-template-columns: 24px 1fr;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  .delivery-option-input {
    margin-left: 0px;
    cursor: pointer;
  }
  
  .delivery-option-date {
    color: rgb(0, 118, 0);
    font-weight: 500;
    margin-bottom: 3px;
  }
  
  .delivery-option-price {
    color: rgb(120, 120, 120);
    font-size: 15px;
  }
  
  .payment-summary-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 12px;
  }
  
  .payment-summary-row {
    display: grid;
    grid-template-columns: 1fr auto;
  
    font-size: 15px;
    margin-bottom: 9px;
  }
  
  .payment-summary-money {
    text-align: right;
  }
  
  .subtotal-row .payment-summary-money {
    border-top: 1px solid rgb(222, 222, 222);
  }
  
  .subtotal-row div {
    padding-top: 9px;
  }
  
  .total-row {
    color: rgb(177, 39, 4);
    font-weight: 700;
    font-size: 18px;
  
    border-top: 1px solid rgb(222, 222, 222);
    padding-top: 18px;
  }
  
  .place-order-button {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
  
    margin-top: 11px;
    margin-bottom: 15px;
  }

  .place-order-button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
  }

  .update-quantity-link{
    color: blue;
  }

  .delete-quantity-link{
    color: red;
  }
  
  